/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #f6f6f6; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.sidenav {
  display: block;
  font-family: sans-serif;
  padding: 6px 8px 6px 16px;
  list-style-type: none;
}

.sidenav a{
  color: blue;

}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    margin-top: 160px;
}

.topnav {
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, rgba(246,246,246,0), rgba(246,246,246,1));
}

.input-group {
  width: 300px;
  float: left;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
